[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = http://github.com/tpope/vim-rails.git
	ignore = dirty
[submodule "vim/bundle/bufexplorer"]
	path = vim/bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
	ignore = dirty
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
	ignore = dirty
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "vim/bundle/vim-align"]
	path = vim/bundle/vim-align
	url = https://github.com/tsaleh/vim-align.git
	ignore = dirty
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
	ignore = dirty
[submodule "vim/bundle/taglist.vim"]
	path = vim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
	ignore = dirty
[submodule "vim/bundle/vim-ruby-refactoring"]
	path = vim/bundle/vim-ruby-refactoring
	url = https://github.com/ecomba/vim-ruby-refactoring.git
	ignore = dirty
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
	ignore = dirty
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
	ignore = dirty
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule "vim/bundle/vim-dispatch"]
	path = vim/bundle/vim-dispatch
	url = git://github.com/tpope/vim-dispatch.git
	ignore = dirty
[submodule "vim/bundle/vim-handlebars"]
	path = vim/bundle/vim-handlebars
	url = https://github.com/nono/vim-handlebars.git
	ignore = dirty
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
	ignore = dirty
[submodule "vim/bundle/vim-eunuch"]
	path = vim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
	ignore = dirty
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
	ignore = dirty
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
	ignore = dirty
[submodule "vim/bundle/vim-ember-script"]
	path = vim/bundle/vim-ember-script
	url = https://github.com/heartsentwined/vim-ember-script.git
	ignore = dirty
[submodule "vim/bundle/vim-emblem"]
	path = vim/bundle/vim-emblem
	url = https://github.com/heartsentwined/vim-emblem.git
	ignore = dirty
[submodule "vim/bundle/rust.vim"]
	path = vim/bundle/rust.vim
	url = https://github.com/wting/rust.vim.git
	ignore = dirty
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
	ignore = dirty
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
	ignore = dirty
[submodule "vim/bundle/yajs.vim"]
	path = vim/bundle/yajs.vim
	url = https://github.com/othree/yajs.vim.git
	ignore = dirty
[submodule "vim/bundle/tslime.vim"]
	path = vim/bundle/tslime.vim
	url = https://github.com/jgdavey/tslime.vim.git
	ignore = dirty
[submodule "vim/bundle/vim-rspec"]
	path = vim/bundle/vim-rspec
	url = https://github.com/thoughtbot/vim-rspec.git
	ignore = dirty
[submodule "vim/bundle/vim-fireplace"]
	path = vim/bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
	ignore = dirty
[submodule "vim/bundle/paredit.vim"]
	path = vim/bundle/paredit.vim
	url = https://github.com/vim-scripts/paredit.vim.git
	ignore = dirty
[submodule "vim/bundle/neomake"]
	path = vim/bundle/neomake
	url = https://github.com/benekastah/neomake.git
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
